.container {
  position: fixed;
  top: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.titulo {
  display: block;
  align-items: center;
  margin-left: 10%;
}

.stats {
  padding: 8% 25%;
}

.img {
  margin-left: 20%;
}
