.container {
  display: flex;
  margin-top: 70px;
  width: 100%;
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media only screen and (max-width: 700px) {
  /* For mobile phones */
  .cards{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media only screen and (min-width: 701px) and (max-width: 1080px) {
  /* For tablets */
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1081px) {
  /* For full-size screens */
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
